body {
  background-color: #13191f;  
  font-family: 'Roboto';
  color: white;  
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='600' height='1500' preserveAspectRatio='none' viewBox='0 0 600 1500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1306%26quot%3b)' fill='none'%3e%3crect width='600' height='1500' x='0' y='0' fill='rgba(24%2c 31%2c 38%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c548.306C127.299%2c555.276%2c258.96%2c637.255%2c373.307%2c580.877C488.399%2c524.132%2c542.554%2c387.177%2c577.333%2c263.659C609.106%2c150.817%2c596.478%2c30.804%2c559.518%2c-80.447C526.603%2c-179.523%2c448.649%2c-250.616%2c380.271%2c-329.507C311.903%2c-408.386%2c253.637%2c-497.749%2c159.227%2c-542.277C55.786%2c-591.064%2c-64.047%2c-624.048%2c-173.432%2c-590.655C-282.492%2c-557.361%2c-343.366%2c-448.299%2c-421.296%2c-365.055C-502.662%2c-278.141%2c-601.424%2c-204.61%2c-640.213%2c-92.049C-683.295%2c32.97%2c-704.674%2c176.444%2c-649.271%2c296.512C-593.922%2c416.464%2c-471.095%2c493.619%2c-347.927%2c541.385C-237.54%2c584.194%2c-118.22%2c541.833%2c0%2c548.306' fill='%2312171d'%3e%3c/path%3e%3cpath d='M600 2177.953C725.085 2171.317 825.5740000000001 2082.351 927.126 2009.019 1023.547 1939.392 1117.132 1866.4859999999999 1175.121 1762.649 1236.379 1652.958 1279.03 1529.245 1264.7730000000001 1404.42 1250.318 1277.858 1178.392 1167.365 1096.033 1070.185 1012.982 972.188 918.481 868.316 791.9 846.45 668.418 825.119 558.304 914.104 440.547 956.954 331.367 996.683 214.16199999999998 1013.7339999999999 125.58100000000002 1088.914 27.98199999999997 1171.748-92.68700000000001 1274.045-83.505 1401.727-74.024 1533.556 108.48599999999999 1579.346 169.291 1696.698 225.238 1804.674 168.67899999999997 1954.337 249.779 2044.955 334.778 2139.929 472.723 2184.706 600 2177.953' fill='%231e2730'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1306'%3e%3crect width='600' height='1500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

p, li {
  font-weight: 500;
  font-size: 0.9rem;
}

@media (min-width: 480px) {
  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  p, li {
    font-size: 1rem;
  }
}

@media (min-width: 960px) {
  h1 {
    font-size: 5rem;
  }
  
  h2 {
    font-size: 3.8rem;
  }
  
  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 1.3rem;
  }
  
  p, li {
    font-size: 1.2rem;
  }
}